@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";

@keyframes slider {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-20% * 4));
    }
}

@keyframes scaling{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(5);
    }
}